<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.urlaccordion</string>
	<key>connections</key>
	<dict>
		<key>0736564C-CC0D-46FE-A211-FD9F2A684871</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>130AC18D-3376-41DA-A2A8-62C50A45888D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2EA70E4C-0FAA-4C4B-9FA0-2057AD4C13FC</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste result to frontmost app</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>130AC18D-3376-41DA-A2A8-62C50A45888D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7DED142A-F2F6-4DA7-B1A2-64E64BA40D53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1A64292D-ADBD-4400-8953-18CCFEC103BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35C798DD-B3EF-4D81-8937-3BB8166ADFEE</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste result to frontmost app</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4C9B5F8B-23E1-4BEA-A0F1-225E4A957979</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C9D4FCB-68CB-4C73-A1FE-3C124069811A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B3BF95E-DC98-45CC-8768-DDC42E93B38F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>93659638-4B25-404D-8D0C-4A7116E6A1CB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>71294E60-7285-471D-B7C9-8D31742AFD53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2D83E99E-FD5C-4B1B-99B7-10A578F9B29D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF6DAE26-7D02-43D8-85FA-C606D3BE6A07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>35C798DD-B3EF-4D81-8937-3BB8166ADFEE</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste result to frontmost app</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2EA70E4C-0FAA-4C4B-9FA0-2057AD4C13FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7DED142A-F2F6-4DA7-B1A2-64E64BA40D53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2EDDB06E-9D0A-412C-B4BD-FCECCCBCE236</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F16DDFD-6F11-4616-9F93-C6A0675A2722</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>44D34DF7-0E99-4642-8734-5129B50B3AAA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8CBA337A-3F32-44AF-8659-0FA792B9AE53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35C798DD-B3EF-4D81-8937-3BB8166ADFEE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF6DAE26-7D02-43D8-85FA-C606D3BE6A07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C9B5F8B-23E1-4BEA-A0F1-225E4A957979</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF6DAE26-7D02-43D8-85FA-C606D3BE6A07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D053FB8-EBEB-4DB7-995D-DC221DEB7F4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2EA70E4C-0FAA-4C4B-9FA0-2057AD4C13FC</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste result to frontmost app</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7DED142A-F2F6-4DA7-B1A2-64E64BA40D53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F16DDFD-6F11-4616-9F93-C6A0675A2722</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50BDDF4D-BF83-4656-9E0D-7561E9F60A49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71294E60-7285-471D-B7C9-8D31742AFD53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E89737E-8838-487A-9D69-5DF5F6B07B95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7DED142A-F2F6-4DA7-B1A2-64E64BA40D53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C9D4FCB-68CB-4C73-A1FE-3C124069811A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CBA337A-3F32-44AF-8659-0FA792B9AE53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50BDDF4D-BF83-4656-9E0D-7561E9F60A49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B3BF95E-DC98-45CC-8768-DDC42E93B38F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E89737E-8838-487A-9D69-5DF5F6B07B95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E89737E-8838-487A-9D69-5DF5F6B07B95</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2EDDB06E-9D0A-412C-B4BD-FCECCCBCE236</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF6DAE26-7D02-43D8-85FA-C606D3BE6A07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C9D4FCB-68CB-4C73-A1FE-3C124069811A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Shorten and expand URLs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>URL Accordion</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:shorten_keyword}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Shorten URL with {var:service}</string>
				<key>text</key>
				<string>Shorten URL</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0736564C-CC0D-46FE-A211-FD9F2A684871</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>130AC18D-3376-41DA-A2A8-62C50A45888D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>paste</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2EA70E4C-0FAA-4C4B-9FA0-2057AD4C13FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6F16DDFD-6F11-4616-9F93-C6A0675A2722</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Shorten URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>5D053FB8-EBEB-4DB7-995D-DC221DEB7F4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>automation_task</key>
					<string>com.alfredapp.automation.core/url-processing/url.shorten</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7DED142A-F2F6-4DA7-B1A2-64E64BA40D53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>9E89737E-8838-487A-9D69-5DF5F6B07B95</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{query}",
    "config" : {
      "taskuid" : "{var:automation_task}",
      "tasksettings" : {
        "service" : "{var:service}"
      }
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>9B3BF95E-DC98-45CC-8768-DDC42E93B38F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>50BDDF4D-BF83-4656-9E0D-7561E9F60A49</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^(https?://)</string>
						<key>outputlabel</key>
						<string>Pass</string>
						<key>uid</key>
						<string>93659638-4B25-404D-8D0C-4A7116E6A1CB</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Add Scheme</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2C9D4FCB-68CB-4C73-A1FE-3C124069811A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:paste}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Paste</string>
						<key>uid</key>
						<string>44D34DF7-0E99-4642-8734-5129B50B3AAA</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Copy</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2EDDB06E-9D0A-412C-B4BD-FCECCCBCE236</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "https://{query}",
    "config" : {
      "taskuid" : "{var:automation_task}",
      "tasksettings" : {
        "service" : "{var:service}"
      }
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>71294E60-7285-471D-B7C9-8D31742AFD53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8CBA337A-3F32-44AF-8659-0FA792B9AE53</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Expand URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>2D83E99E-FD5C-4B1B-99B7-10A578F9B29D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>automation_task</key>
					<string>com.alfredapp.automation.core/url-processing/url.expand</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CF6DAE26-7D02-43D8-85FA-C606D3BE6A07</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>paste</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>35C798DD-B3EF-4D81-8937-3BB8166ADFEE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:expand_keyword}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Expand shortened URL</string>
				<key>text</key>
				<string>Expand URL</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1A64292D-ADBD-4400-8953-18CCFEC103BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>4C9B5F8B-23E1-4BEA-A0F1-225E4A957979</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Shorten and expand URLs via the `shorturl` and `longurl` keywords.

![Keyword to shorten URL](images/about/shorturl.png)

![Keyword to expand URL](images/about/longurl.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Copy result to clipboard.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Copy result and paste to frontmost app.

Alternatively, use the [Universal Actions](https://www.alfredapp.com/help/features/universal-actions/).

![Universal Actions to shorten and expand URL](images/about/ua.png)</string>
	<key>uidata</key>
	<dict>
		<key>0736564C-CC0D-46FE-A211-FD9F2A684871</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>130AC18D-3376-41DA-A2A8-62C50A45888D</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>1A64292D-ADBD-4400-8953-18CCFEC103BB</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>2C9D4FCB-68CB-4C73-A1FE-3C124069811A</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>2D83E99E-FD5C-4B1B-99B7-10A578F9B29D</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>2EA70E4C-0FAA-4C4B-9FA0-2057AD4C13FC</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>2EDDB06E-9D0A-412C-B4BD-FCECCCBCE236</key>
		<dict>
			<key>xpos</key>
			<real>870</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>35C798DD-B3EF-4D81-8937-3BB8166ADFEE</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>495</real>
		</dict>
		<key>4C9B5F8B-23E1-4BEA-A0F1-225E4A957979</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>50BDDF4D-BF83-4656-9E0D-7561E9F60A49</key>
		<dict>
			<key>xpos</key>
			<real>1160</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>5D053FB8-EBEB-4DB7-995D-DC221DEB7F4E</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>6F16DDFD-6F11-4616-9F93-C6A0675A2722</key>
		<dict>
			<key>xpos</key>
			<real>980</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>71294E60-7285-471D-B7C9-8D31742AFD53</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>7DED142A-F2F6-4DA7-B1A2-64E64BA40D53</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>8CBA337A-3F32-44AF-8659-0FA792B9AE53</key>
		<dict>
			<key>xpos</key>
			<real>980</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>9B3BF95E-DC98-45CC-8768-DDC42E93B38F</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>9E89737E-8838-487A-9D69-5DF5F6B07B95</key>
		<dict>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>CF6DAE26-7D02-43D8-85FA-C606D3BE6A07</key>
		<dict>
			<key>xpos</key>
			<real>405</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>shorturl</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Shorten Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>shorten_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>longurl</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Expand Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>expand_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>is.gd</string>
				<key>pairs</key>
				<array>
					<array>
						<string>is.gd</string>
						<string>is.gd</string>
					</array>
					<array>
						<string>v.gd</string>
						<string>v.gd</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Service</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>service</string>
		</dict>
	</array>
	<key>version</key>
	<string>25.1</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/url-accordion-workflow/</string>
</dict>
</plist>
